n8n/workflows/DELETE_gastos.json
{
  "name": "API - DELETE Gastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "gastos/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-delete-gastos",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-delete"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM expenses WHERE id = {{ $json.pathParameters.id | pg }} RETURNING id;",
        "options": {}
      },
      "id": "postgres-delete",
      "name": "PostgreSQL - Eliminar Gasto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, deleted: true }) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "PostgreSQL - Eliminar Gasto", "type": "main", "index": 0 }]] },
    "PostgreSQL - Eliminar Gasto": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
