n8n/workflows/GET_categorias.json
{
  "name": "API - GET Categorias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "categorias",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-categorias",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-categorias"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, color, icon FROM categories ORDER BY name ASC;",
        "options": {}
      },
      "id": "postgres-categorias",
      "name": "PostgreSQL - Listar Categorias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "PostgreSQL - Listar Categorias", "type": "main", "index": 0 }]] },
    "PostgreSQL - Listar Categorias": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
