n8n/workflows/GET_gastos.json
{
  "name": "API - GET Gastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gastos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-gastos",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-get"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.id,\n  e.amount,\n  e.description,\n  e.expense_date,\n  e.status,\n  e.capture_channel,\n  e.created_at,\n  c.name AS category,\n  c.icon AS category_icon,\n  c.color AS category_color,\n  u.name AS user_name\nFROM expenses e\nLEFT JOIN categories c ON c.id = e.category_id\nLEFT JOIN users u ON u.id = e.user_id\nORDER BY e.expense_date DESC, e.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "postgres-query",
      "name": "PostgreSQL - Listar Gastos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "PostgreSQL - Listar Gastos", "type": "main", "index": 0 }]] },
    "PostgreSQL - Listar Gastos": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
