n8n/workflows/GET_resumen.json
{
  "name": "API - GET Resumen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "resumen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-resumen",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-resumen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  SUM(amount)::FLOAT as total_mes,\n  COUNT(*)::INTEGER as cantidad,\n  AVG(amount)::FLOAT as promedio\nFROM expenses\nWHERE TO_CHAR(expense_date, 'YYYY-MM') = TO_CHAR(NOW(), 'YYYY-MM');",
        "options": {}
      },
      "id": "postgres-resumen",
      "name": "PostgreSQL - Resumen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "PostgreSQL - Resumen", "type": "main", "index": 0 }]] },
    "PostgreSQL - Resumen": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
