n8n/workflows/POST_gastos.json
{
  "name": "API - POST Gastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gastos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post-gastos",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.amount || isNaN(Number(body.amount)) || Number(body.amount) <= 0) {\n  throw new Error('amount es requerido y debe ser un número positivo');\n}\n\nreturn [{\n  json: {\n    amount: Number(body.amount),\n    description: body.description || null,\n    category_id: body.category_id ? Number(body.category_id) : null,\n    user_id: body.user_id ? Number(body.user_id) : 1,\n    expense_date: body.expense_date || new Date().toISOString().split('T')[0],\n    capture_channel: body.capture_channel || 'pwa',\n    payment_method: body.payment_method || null,\n    status: 'confirmed'\n  }\n}];"
      },
      "id": "validar-datos",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "expenses",
        "columns": "amount,description,category_id,user_id,expense_date,capture_channel,payment_method,status,created_at,updated_at",
        "executeQueries": true,
        "query": "INSERT INTO expenses (amount, description, category_id, user_id, expense_date, capture_channel, payment_method, status, created_at, updated_at) VALUES ({{ $json.amount }}, {{ $json.description | pg }}, {{ $json.category_id }}, {{ $json.user_id }}, '{{ $json.expense_date }}', '{{ $json.capture_channel }}', {{ $json.payment_method | pg }}, '{{ $json.status }}', NOW(), NOW()) RETURNING *;",
        "options": {}
      },
      "id": "postgres-insert",
      "name": "PostgreSQL - Insertar Gasto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.last().json) }}",
        "options": {
          "responseCode": "201",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validar Datos", "type": "main", "index": 0 }]] },
    "Validar Datos": { "main": [[{ "node": "PostgreSQL - Insertar Gasto", "type": "main", "index": 0 }]] },
    "PostgreSQL - Insertar Gasto": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
