n8n/workflows/PUT_gastos.json
{
  "name": "API - PUT Gastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "gastos/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-put-gastos",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gastos-put"
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.pathParameters?.id;\nconst body = $input.first().json.body;\n\nif (!id) {\n  throw new Error('ID es requerido');\n}\n\nreturn [{\n  json: {\n    id: Number(id),\n    amount: body.amount ? Number(body.amount) : null,\n    description: body.description || null,\n    category_id: body.category_id ? Number(body.category_id) : null,\n    expense_date: body.expense_date || null,\n    payment_method: body.payment_method || null,\n    status: body.status || null\n  }\n}];"
      },
      "id": "validar-datos",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE expenses SET updated_at = NOW() WHERE id = {{ $json.id }} RETURNING *;",
        "options": {}
      },
      "id": "postgres-update",
      "name": "PostgreSQL - Actualizar Gasto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.last().json) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validar Datos", "type": "main", "index": 0 }]] },
    "Validar Datos": { "main": [[{ "node": "PostgreSQL - Actualizar Gasto", "type": "main", "index": 0 }]] },
    "PostgreSQL - Actualizar Gasto": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "gastos-api" }]
}
