n8n/workflows/WHATSAPP_texto.json
{
  "name": "WhatsApp - Procesar Texto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-wa",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Parsear payload de WhatsApp Business API (Meta)\nconst body = $input.first().json.body;\n\n// Verificar que es un mensaje válido\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst messages = value?.messages;\n\nif (!messages || messages.length === 0) {\n  // Es un webhook de verificación o sin mensajes\n  return [{ json: { skip: true } }];\n}\n\nconst message = messages[0];\nconst phone = message.from; // número del remitente\nconst messageType = message.type; // text, audio, image\nconst channelMessageId = message.id;\n\nlet rawText = null;\nlet rawContent = null;\n\nif (messageType === 'text') {\n  rawText = message.text?.body || '';\n} else if (messageType === 'audio') {\n  rawContent = message.audio?.id; // ID del media en WhatsApp\n} else if (messageType === 'image') {\n  rawContent = message.image?.id; // ID del media en WhatsApp\n}\n\nreturn [{\n  json: {\n    phone,\n    messageType,\n    rawText,\n    rawContent,\n    channelMessageId,\n    skip: messageType !== 'text' // este workflow solo maneja texto\n  }\n}];"
      },
      "id": "parsear-payload",
      "name": "Parsear Payload WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "id": "check-skip",
      "name": "¿Saltar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar o crear usuario por teléfono\nINSERT INTO users (name, phone, status, role)\nVALUES ('Usuario ' || '{{ $json.phone }}', '{{ $json.phone }}', 'unregistered', 'user')\nON CONFLICT (phone) DO UPDATE SET phone = EXCLUDED.phone\nRETURNING id, name, phone, role, status;",
        "options": {}
      },
      "id": "buscar-crear-usuario",
      "name": "Buscar/Crear Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 180],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (user_id, channel_message_id, message_type, raw_text, processing_status)\nVALUES (\n  {{ $('Buscar/Crear Usuario').first().json.id }},\n  '{{ $('Parsear Payload WhatsApp').first().json.channelMessageId }}',\n  'text',\n  '{{ $('Parsear Payload WhatsApp').first().json.rawText.replace(/'/g, \"''\") }}',\n  'pending'\n)\nON CONFLICT (channel_message_id) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "guardar-mensaje",
      "name": "Guardar Mensaje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 180],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"Eres un asistente de finanzas personales. Extrae datos de gastos del texto del usuario. Responde SOLO con JSON válido, sin texto adicional.\"}, {\"role\": \"user\", \"content\": \"Texto: \\\"\" + $('Parsear Payload WhatsApp').first().json.rawText + \"\\\"\\n\\nExtrae este JSON:\\n{\\\"amount\\\": número o null,\\\"description\\\": string breve o null,\\\"category_guess\\\": una de [Alimentación, Transporte, Servicios, Salud, Entretenimiento, Ropa, Hogar, Educación, Otros] o null,\\\"expense_date\\\": \\\"YYYY-MM-DD\\\" (usa hoy \" + new Date().toISOString().split('T')[0] + \" si no se menciona) o null,\\\"payment_method\\\": cash|card|transfer|other o null,\\\"confidence_score\\\": número 0-1,\\\"confidence_reason\\\": string}\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "llamar-ia",
      "name": "Llamar IA (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_OPENAI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de la IA y decidir qué hacer\nconst iaResponse = $input.first().json;\nconst rawContent = iaResponse.choices?.[0]?.message?.content || '{}';\n\nlet extracted;\ntry {\n  extracted = JSON.parse(rawContent);\n} catch(e) {\n  extracted = { confidence_score: 0, confidence_reason: 'Error parsing IA response' };\n}\n\nconst userId = $('Buscar/Crear Usuario').first().json.id;\nconst messageId = $('Guardar Mensaje').first().json.id;\nconst rawText = $('Parsear Payload WhatsApp').first().json.rawText;\nconst phone = $('Parsear Payload WhatsApp').first().json.phone;\n\nconst confidence = extracted.confidence_score || 0;\nlet expenseStatus = 'error';\nlet messageStatus = 'error';\nlet replyText = '';\n\nif (confidence >= 0.85 && extracted.amount) {\n  expenseStatus = 'confirmed';\n  messageStatus = 'processed';\n  replyText = `✅ Registré L ${Number(extracted.amount).toLocaleString('es-HN')} en ${extracted.category_guess || 'Otros'}.`;\n} else if (confidence >= 0.50 && extracted.amount) {\n  expenseStatus = 'pending';\n  messageStatus = 'processed';\n  replyText = `⚠️ Registré L ${Number(extracted.amount).toLocaleString('es-HN')} (pendiente de revisión). Verifica en la app.`;\n} else if (extracted.amount) {\n  expenseStatus = 'incomplete';\n  messageStatus = 'error';\n  replyText = `❓ Registré L ${Number(extracted.amount).toLocaleString('es-HN')} pero faltaron datos. Completa en la app.`;\n} else {\n  expenseStatus = 'error';\n  messageStatus = 'error';\n  replyText = `❌ No pude interpretar tu gasto. Escribe: \"Gasté [monto] en [descripción]\" o usa la app para registrar manualmente.`;\n}\n\nreturn [{\n  json: {\n    userId, messageId, phone,\n    extracted,\n    expenseStatus,\n    messageStatus,\n    replyText,\n    shouldCreateExpense: !!extracted.amount\n  }\n}];"
      },
      "id": "procesar-ia",
      "name": "Procesar Respuesta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Crear gasto si hay monto\n{{ $json.shouldCreateExpense ? `\nINSERT INTO expenses (\n  user_id, message_id, category_id, amount,\n  description, expense_date, status,\n  capture_channel, confidence_score\n)\nSELECT\n  ${$json.userId},\n  ${$json.messageId},\n  (SELECT id FROM categories WHERE name ILIKE '${($json.extracted.category_guess || 'Otros').replace(/'/g, \"''\")}' LIMIT 1),\n  ${$json.extracted.amount || 0},\n  ${$json.extracted.description ? `'${$json.extracted.description.replace(/'/g, \"''\")}'` : 'NULL'},\n  ${$json.extracted.expense_date ? `'${$json.extracted.expense_date}'::DATE` : 'CURRENT_DATE'},\n  '${$json.expenseStatus}',\n  'whatsapp',\n  ${$json.extracted.confidence_score || 0}\nRETURNING id;\n` : 'SELECT NULL AS id;' }}\n\n-- Actualizar estado del mensaje\nUPDATE messages\nSET processing_status = '{{ $json.messageStatus }}',\n    error_reason = {{ $json.messageStatus === 'error' ? `'${($json.extracted.confidence_reason || '').replace(/'/g, \"''\")}' ` : 'NULL' }},\n    processed_at = NOW()\nWHERE id = {{ $json.messageId }};",
        "options": {}
      },
      "id": "guardar-gasto",
      "name": "Guardar Gasto y Actualizar Mensaje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 180],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "PostgreSQL Gastos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Procesar Respuesta IA').first().json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { \"body\": $('Procesar Respuesta IA').first().json.replyText } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "responder-whatsapp",
      "name": "Responder por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_WA",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}",
        "options": { "responseCode": 200 }
      },
      "id": "ack-meta",
      "name": "ACK a Meta (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": { "main": [[{ "node": "Parsear Payload WhatsApp", "type": "main", "index": 0 }]] },
    "Parsear Payload WhatsApp": { "main": [[{ "node": "¿Saltar?", "type": "main", "index": 0 }]] },
    "¿Saltar?": {
      "main": [
        [{ "node": "ACK a Meta (200)", "type": "main", "index": 0 }],
        [{ "node": "Buscar/Crear Usuario", "type": "main", "index": 0 }]
      ]
    },
    "Buscar/Crear Usuario": { "main": [[{ "node": "Guardar Mensaje", "type": "main", "index": 0 }]] },
    "Guardar Mensaje": { "main": [[{ "node": "Llamar IA (OpenAI)", "type": "main", "index": 0 }]] },
    "Llamar IA (OpenAI)": { "main": [[{ "node": "Procesar Respuesta IA", "type": "main", "index": 0 }]] },
    "Procesar Respuesta IA": { "main": [[{ "node": "Guardar Gasto y Actualizar Mensaje", "type": "main", "index": 0 }]] },
    "Guardar Gasto y Actualizar Mensaje": { "main": [[{ "node": "Responder por WhatsApp", "type": "main", "index": 0 }]] },
    "Responder por WhatsApp": { "main": [[{ "node": "ACK a Meta (200)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "whatsapp" }]
}
